.star-rating {
  position: relative;
  cursor: pointer;
  display: inline-block;
  direction: rtl;
}

.star-rating label {
  cursor: pointer;
}

.star-rating label {
  text-decoration: none;
  color: #aaa;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.star-rating label[data-select=true],
.star-rating label[data-select=true] ~ label {
  color: orange;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: orange;
}